.others {
  padding: 150px 100px;
}

.others-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.others-card {
  width: 350px;
  background-color: #080827;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 50px;
}
.others-card:last-of-type {
  margin-right: 0;
  margin-bottom: 0;

  /* 応急処置 */
  height: 339px;
}

.icon {
  font-family: 'Material Icons Outlined';
  font-size: 8rem;
  color: #5E38FF;
}

.others-title {
  font-size: 3rem;
  color: #E0E0E0;
}

.education-list {
  display: flex;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 10px;
}
.education-list:last-of-type {
  margin-bottom: 0;
}

.education-year {
  display: inline-block;
  color: #5E38FF;
  margin-right: 1rem;
}

.qualifications-list-item {
  display: inline-flex;
  vertical-align: middle;
  line-height: 3rem;
}

.arrow-right {
  font-size: 3rem;
  color: #5E38FF;
}

.likes-list {
  display: flex;
  justify-content: center;
  text-align: left;
}

.likes-list-item {
  display: inline-flex;
  vertical-align: middle;
  line-height: 3rem;
  margin-left: 3rem;
}

@media screen and (max-width: 959px) {
  .others-cards {
    display: block;
  }

  .others-card {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .others-card:last-of-type {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .others {
    padding: 100px 5%;
  }

  .others-title {
    font-size: 2rem;
  }
  
  .others-card {
    width: 100%;
  }
  
 }