.project {
  padding-top: 200px;
}

.project-text {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;;
}

.project-title {
  font-size: 4rem;
  color: #E0E0E0;
  margin-bottom: 1rem;
}

.project-tools {
  margin-bottom: 3rem;
}

.project-card {
  background-color: #080827;
  padding: 30px;
}

.project-card-title {
  font-size: 2rem;
  color: #E0E0E0;
}

.project-card-description {
  text-align: left;
  line-height: 1.5;
}

.project-image-wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card-description a {
  color: #5E38FF;
  cursor: default;
}
.project-card-description a:hover {
  opacity: 0.6;
}

.project-image {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .project {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
  }
  
  .project-text {
    width: 90%;
    order: 2;
    margin-bottom: 0px;
  }

  .project-title {
    font-size: 3rem;
  }

  .project-card-description {
    font-size: 1.4rem
  }

  .project-image-wrapper {
    width: 90%;
    order: 1;
    margin-bottom: 50px;
  }
}
