.header {
  width: 100%;
  padding: 50px;
  position: fixed;
  z-index: 100;
}

/*　上に上がる動き　*/

#header.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0.95;
	transform: translateY(0);
  }
  to {
    opacity: 0;
	transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/

#header.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-100px);
  }
  to {
  	opacity: 0.95;
	transform: translateY(0);
  }
}

.header-inner {
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #5E38FF;
}

.nav-items {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.nav-item {
  margin-right: 3rem;
  cursor: default;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.nav-item:hover {
  opacity: 0.6;
}

@media screen and (max-width: 599px) {
  .header {
    width: 100%;
    background-color: #000020;
    padding: 5vh 5vw;
    opacity: 0.95;
    backdrop-filter: blur(12px);
  }

  .nav-item:hover {
    opacity: 1;
  }
  

}