.hero {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.hero-inner {
  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-sub {
  font-size: 2rem;
  color: #5E38FF;
  margin-bottom: 1rem;
}

.hero-text-name {
  font-size: 6rem;
  font-weight: 600;
  color: #E0E0E0;
  margin-bottom: 1rem;
}

.hero-text-description {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contact-box {
  border: 1px solid #5E38FF;
  width: 150px;
  height: 50px;
  cursor: default;
  transition: all 0.2s ease;
}
.contact-box:hover {
  opacity: 0.6;
  position: relative;
  top: -2px;
}
.contact-box:active {
  top: 0;
}

.contact-text {
  color: #5E38FF;
  line-height: 50px;
}

.hero-artwork {
  pointer-events: none;
}

.scroll-down {
  height: 120px;
  border-left: 2px solid #5E38FF;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateY(-50%);
  animation: pathmove 1.6s ease-in-out infinite;
	opacity:0;
}

@keyframes pathmove{
	0%{
		height:0;
		top: 90%;
		opacity: 0;
	}
	30%{
		height:60px;
		opacity: 1;
	}
	100%{
		height:0;
		top: 105%;
		opacity: 0;
	}
}

@media screen and (max-width: 1168px) {
  .hero-artwork {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .hero-text-sub {
    font-size: 1.6rem;
  }
  
  .hero-text-name {
    font-size: 5vw;
  }
  
  .hero-text-description {
    font-size: 5vw;
  }
}

@media screen and (max-width: 599px) {
  .hero-inner {
    width: 90%;
  }  

  .hero-text-sub {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  
  .hero-text-name {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }
  
  .hero-text-description {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .contact-box:hover {
    opacity: 1;
  }
  

  @keyframes pathmove{
    0%{
      height:0;
      top: 85%;
      opacity: 0;
    }
    30%{
      height:60px;
      opacity: 1;
    }
    100%{
      height:0;
      top: 100%;
      opacity: 0;
    }
  }
  

}